.header,.menuItems{
    padding-right:10px;
    font-size:13px
}
.header,.menuItems,.search{
    font-size:13px
}
.btn,.menuItems{
    display:inline-block
}
body{
    font-family:sans-serif
}
.header{
    text-align:right;
    padding-top:22px
}
.menuItems{
    padding-left:20px
}
.header a{
    text-decoration:none;
    color:#000
}
.header a:hover{
    text-decoration:underline
}
.menu{
    background-color:#fff;
    border:none;
    outline:0;
    box-shadow:none;
    padding-right:none
}
.container{
    padding-top:140px;
    padding-bottom:160px
}
.search{
    margin:30px auto auto;
    padding:14px;
    width:600px;
    color:#222;
    border:1px solid rgba(223,225,229,0);
    box-shadow:0 1px 6px 0 rgba(32,33,36,.28);
    border-radius:24px;
    outline:0
}
.input{
    text-align:left;
    width:95%;
    border:none;
    outline:0
}
.btn{
    padding:30px
}
.btns{
    margin-right:7px;
    color:#5f6368;
    border-radius:9px;
    border:none;
    padding:16px;
    font-size:14pt
}
.btns:hover{
    border:1px solid #778899;
    color:#000
}
